<ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div class="welcome-container">
  <h1 class="welcome-text">WELCOME</h1>
  <img src="assets/images/Logo_blanco.png" alt="correo" class="icono">
  <div class="button-container">
    <button (click)="navigateToLogin()" class="navigate-button">Navega con nosotros</button>
  </div>

  <div class="licencia">
    <p>Icons by <a href="https://iconos8.es/icons">Icons8</a></p>
  </div>
</div>