.container-header {
  background-color: #31353b;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Alinear elementos al principio y al final del contenedor */
  align-items: center;
}


.barra {
  flex: 1;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.busqueda{
  height: 40px;
  padding-left: 15px;
}

.container-header img{
  height: 100px;
  padding-left: 20px;
}

.container-header .usuario img{
  height: 60px;
  padding-right: 20px;
  margin: 0;
}

.usuario button {
  background: transparent;
  margin: 0;
  padding: 10px;
  padding-bottom: 2px;
  border: 1px solid #888; 
  cursor: pointer;
  color: #888;
}

.usuario .boton-usuario{
  border: none;
}

.usuario button + button {
  margin-top: 5px; 
  border-top: 1px solid #888; 
}

.usuario {
  position: relative;
  color: whitesmoke;
}

.botones-container.show {
  display: block;
 
  padding: 10px; 
  border: 1px solid #888; 
}

.botones-container button{
  width: 90px;
}

.botones-container.show button:last-child {
  margin-bottom: 0; 
  border-top: none; 
}

