<div id="fondo">
    <div class="top">
        <h1>404</h1>
        <h3>Pagina no encontrada</h3>
    </div>
      <div class="container">
        <div class="fantasma-copia">
          <div class="uno"></div>
          <div class="dos"></div>
          <div class="tres"></div>
          <div class="cuatro"></div>
        </div>
        <div class="fantasma">
          <div class="cara">
            <div class="ojo"></div>
            <div class="ojo-derecho"></div>
            <div class="boca"></div>
          </div>
        </div>
        <div class="sombra"></div>
      </div>
      <div class="boton">
        <p>¡Oh no! Parece que este fantasma asustó a la página que estabas buscando.</p>
        <div class="botones">
          <button class="btn">Atras</button>
          <button class="btn">Home</button>
        </div>
      </div>
</div>

