<ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>


<div class="container-welcome">

    <div class="container-fomulario">

        <div class="container-form login">
            <h2>Inicio de sesión</h2>
            <form action="">
                <div class="container-input">
                    <img src="assets/images/correo.png" alt="correo" class="icono">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="container-input">
                    <img src="assets/images/candado.png" alt="Contraseña" class="icono" id="password">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="recuerdame-olvido">
                    <label class="">
                        <input type="checkbox">
                        Recordarme
                    </label>
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="boton-login">Iniciar sesión</button>
                <div class="iniciosesion-registro">
                    <p>¿No tienes cuenta?
                        <a class="registro-link" (click)="toggleForm()">Registro</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="container-form register">
            <h2>Registro</h2>
            <form action="" class="registro">
                <div class="container-input">
                    <img src="assets/images/usuario.png" alt="correo" class="icono">
                    <input type="text" required>
                    <label>Nombre de Usuaio</label>
                </div>
                <div class="container-input">
                    <img src="assets/images/correo.png" alt="correo" class="icono">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="container-input">
                    <img src="assets/images/candado.png" alt="Contraseña" class="icono" id="password">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="recuerdame-olvido">
                    <label class="">
                        <input type="checkbox">
                        Acepta términos y condiciones
                    </label>
                </div>
                <button type="submit" class="boton-login">Registro</button>
                <div class="iniciosesion-registro">
                    <p>¿Ya tienes cuenta?
                        <a class="login-link" (click)="toggleForm()">Inicia sesión</a>
                    </p>
                </div>
            </form>
        </div>

    </div>


    

</div>
