<div class="player-container">

    <div class="song-container">
        <img [src]="imagenAlbum" alt="imagen album" class="imagen-cancion" [class.rotating]="reproduciendo">
        <div class="song-details">
          <h3>{{ nombreCancion }}</h3>
          <p>{{ artistaCancion }}</p>
        </div>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar" [style.width]="barraProgreso + '%'"></div>
        <div class="time-labels">
          <span>{{ formatearTiempo(tiempoTranscurrido) }}</span>
          <span>{{ formatearTiempo(duracionCancion) }}</span>
        </div>
      </div>
      

    <div class="controls">
        <button type="button" class="boton-play" (click)="toggleReproduccion()">
          <img [src]="imagenPlayPause" alt="play">
        </button>
        <button type="button" class="boton-gusta" (click)="cambiarImagen()">
          <img [src]="imagenLike" alt="like">
        </button>
    </div>
</div>