.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff; 
}

.welcome-container h1{
  font-size: 70px;
}

.welcome-container img{
  height: 400px;

}

.welcome-text {
  font-size: 50px; 
  margin-bottom: 10px; 
}

.subtitle-text {
  font-size: 24px; 
  margin-bottom: 20px; 
}

.navigate-button {
  padding: 10px 20px;
  font-size: 18px; 
  background-color: transparent; 
  color: #ffffff; 
  border-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.welcome-container .button-container{
  padding-top: 5%;
}