.container-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./espacio.jpeg');
    background-size: cover;
    background-position: center;
}