

<div class="music-player-container">

    <app-header></app-header>

    <div class="song-list">
      <h2>Lista de Canciones</h2>
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas> 
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas> 
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
      <app-listas></app-listas>  
    </div>
  
    <div class="player-container">
      <div class="song-details">
        <h3>titulo</h3>
        <p>artista</p>
      </div>
  
      <div class="controls">
        <button>Play/pause</button>
        <button>Next</button>
        <button>Previo</button>
      </div>
    </div>
  </div>
  